.color {
    background-color: #0B3C5D;
    height: 700px;
}

.apcsp {
  height: 750px;
}

.apes {
  height: 1000px;
}

.aphug {
  height: 900px;
}

.tutoring {
  height: 600px;
}

.apush {
  height: 1250px;
}

.apwh {
  height: 1150px;
}

.bio {
  height: 1420px;
}

.calc {
  height: 1000px;
}

.chem {
  height: 1450px;
}

.gov {
  height: 900px;
}

.lang {
  height: 1050px;
}

.lit {
  height: 900px;
}

.macro {
  height: 1300px;
}

.physics {
  height: 1000px;
}

.psych {
  height: 1850px;
}

.stats {
  height: 850px;
}

.home_page {
  height: 600px;
}

.selection {
    font-size: 2em;
    color: white;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 15px;
}

.jumbotron {
  position: relative;
  background-color: #1D2731;
  width: 100%;
  height: 350px;
  background-size: cover;
  overflow: hidden;
  color: white;
  margin-bottom: 0px;
}

.title {
  text-align: center;
  font-size: 65px;
  font-weight: 700;
}

.sat {
  font-size: 90px;
}

.custom-row {
    padding: 3%;
}

.icon-one {
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 5px;
}

a:link {
  color: white;
}



/* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    background-color: #1D2731;
    padding: 15px 10px;
  }
  
  
  /* Float the link section to the right */
  .header-right {
    float: right;
  }

  @media screen and (max-width: 900px) {
    .apcsp {
      height: 900px;
    }
    .apes {
      height: 1400px;
    }
    .college-apps {
      height: 800px;
    }
    .tutoring {
      height: 750px;
    }
    .aphug {
      height: 1100px;
    }
    .apush {
      height: 1750px;
    }
    .apwh {
      height: 1600px;
    }
    .bio {
      height: 2100px;
    }
    .calc {
      height: 1500px;
    }
    .chem {
      height: 2150px;
    }
    .gov {
      height: 1250px;
    }
    .lang {
      height: 1300px;
    }
    .lit {
      height: 1150px;
    }
    .macro {
      height: 1750px;
    }
    .physics {
      height: 1400px;
    }
    .psych {
      height: 2500px;
    }
    .stats {
      height: 1150px;
    }

    .home_page {
      height: 675px;
    }
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 550px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
    .apcsp {
      height: 1050px;
    }
    .apes {
      height: 1450px;
    }
    .college-apps {
      height: 900px;
    }
    .tutoring {
      height: 800px;
    }
    .aphug {
      height: 1270px;
    }
    .apush {
      height: 1800px;
    }
    .chem {
      height: 2200px;
    }
    .gov {
      height: 1300px;
    }
    .lang {
      height: 1450px;
    }
    .lit {
      height: 1250px;
    }
    .macro {
      height: 1860px;
    }
    .physics {
      height: 1450px;
    }
    .psych {
      height: 2650px;
    }
    .stats {
      height: 1200px;
    }
    .home_page {
      height: 700px;
    }
  }


  .mini-header {
    font-size: 1.5em;
    font-weight: 500;
    color: white;
    margin-bottom: 10px;
    margin-top: 15px;
    margin-left: 20px;
  }

  .words {
    color: white;
    font-size: 1.1em;
    margin-left: 20px;
    font-weight: 200;
  }

  .question {
    color: #8fafc6;
    font-size: 1.15em;
    margin-left: 20px;
    font-weight: 600px;
    margin-bottom: 0px;
  }

  .link {
    color: white;
  }

  .paragraph {
    margin-bottom: 0px;
  }

  .ap {
    text-align: center;
    color: white;
    padding: 10px;
    border-style: solid;
    border-color: white;
    border-width: 0.15em;
    font-size: 1.4em;
}

.home {
  text-align: center;
  color: white;
  padding: 30px;
  border-style: solid;
  border-color: white;
  border-width: 0.3em;
  font-size: 2em;
}

.ap:hover {
  background-color: #305f81;
  transition: all 0.3s linear;
}

.home:hover {
  background-color: #305f81;
  transition: all 0.3s linear;
}

.click {
  color: white;
}

 /* Style the header links */
 .header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Change the text color on mouse-over */
.header a:hover {
  color: #8fafc6;
}

.icon-one a:hover {
  text-decoration: none;
  color: white;
}


.paragraph a {
  text-decoration: underline;
}

.paragraph a:hover {
  color: #8fafc6;
}